# This workflow is responsible for packaging the extension as a VSIX artifact
# for the stable release.
name: ~Package stable release

on:
  workflow_call:
    
jobs:
  package:
    name: Package stable release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # We fetch the latest commit on the main branch to ensure that our
          # package.json version contains the patched version number from the
          # previous step.
          ref: ${{ github.ref }}
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Build
        run: pnpm run build
      - name: Package VSIX
        run: pnpm vsce package -o biome.vsix
      - name: Upload the artifact
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: biome.vsix
          path: biome.vsix