# This workflow is responsible for packaging the extension as a VSIX artifact
# for the stable release.
name: ~Package stable release

on:
  workflow_call:
    
jobs:
  package:
    name: Package stable release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
        with:
          # We fetch the latest commit on the main branch to ensure that our
          # package.json version contains the patched version number from the
          # previous step.
          ref: ${{ github.ref }}
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Build
        run: pnpm run build
      - name: Package VSIX
        run: pnpm vsce package -o biome.vsix
      - name: Upload the artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: biome.vsix
          path: biome.vsix