# This workflow is responsible for packaging the extension as a VSIX artifact
# for the prerelease release.
name: ~Package prerelease

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: true
      - name: Build
        run: pnpm run build
      - name: Patch package.json version with prerelease identifier
        run: |
          jq \
            --arg version "${{ inputs.version }}" \
            --tab '.version = $version' \
            package.json > package.json.tmp \
            && mv package.json.tmp package.json
      - name: Package VSIX
        run: pnpm vsce package --pre-release -o biome.vsix
      - name: Upload the artifact
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: biome.vsix
          path: biome.vsix