# This workflow is responsible for publishing a stable release of the extension
# to the Visual Studio Marketplace. This workflow is meant to be called after a
# VSIX extension artifact has been packaged.

name: ~Publish to Visual Studio Marketplace

on:
  workflow_call:
    inputs:
      channel:
        type: string
        required: true
        description: The channel to publish to (nightly, stable)

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve packaged VSIX
        uses: actions/download-artifact@v4
        with:
          name: biome.vsix
      - name: Publish to Visual Studio Marketplace
        run: pnpm execvsce publish --packagePath biome.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
